name: Run ESLint
on:
  pull_request:


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: ./.node-version
          cache: "npm"

      - name: npm ci
        run: npm ci
        env:
          CI: true

      - name: lint
        run: npm run lint
